* {
    box-sizing: border-box;
}


.admin-dash {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 6fr;
    background-color: grey;
}

.nav {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    background-color: pink;
    display: grid;
    grid-template-rows: 100px 40px 40px 40px 40px 40px 120px 40px 40px 40px;
    gap: 5px;
}

.nav div {
    /* border: 1px solid black; */
    color: white;
    font-weight: bold;
    padding-left: 30%;
}

.header {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    background-color: white;
    padding: 20px;

}

.search-icon {
    width: 30px;
}

.search-bar {
    background-color: lightgray;
    width: 400px;
    height: 20px;
    border-radius: 10px;
}

.bell-icon {
    width: 30px;
}

.cat-icon {
    width: 30px;
}

.top-header {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr 1fr 3fr;
    align-items: center;
}

.bottom-header {
    display: grid;
    grid-template-columns: 1fr 8fr 2fr 2fr 2fr;
    padding-top: 10px;
    align-items: center;
    gap: 10px;
}


.new, .upload, .share {
    background-color: skyblue;
    text-align: center;
    border-radius: 15px;
    padding: 5px 8px;
    color: white;
    font-weight: bold;
}

.main-content {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: aquamarine;
}

.your-projects {
    display:grid;
}