* {
    box-sizing: border-box;
}


.admin-dash {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 6fr;
    background-color: grey;
}

.nav {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    background-color: #4891CE;
    display: grid;
    grid-template-rows: 100px 40px 40px 40px 40px 120px 40px 40px 40px 40px;
    grid-template-columns: 1fr 5fr;
    gap: 5px;
    padding-left: 25px;
    padding-top: 25px;
}

.nav div {
    color: white;
    font-weight: bold;
}

.nav-icon {
    width: 20px;
}

.dashboard-icon {
    width: 40px;
}

.dashboard-title {
    font-size: 22px;

}

.header {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    background-color: white;
    padding: 20px;

}

.search-icon {
    width: 30px;
}

.search-bar {
    background-color: lightgray;
    width: 400px;
    height: 20px;
    border-radius: 10px;
}

.bell-icon {
    width: 30px;
}

.cat-icon {
    width: 30px;
}

.top-header {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr 1fr 2fr;
    align-items: center;
    justify-items: end;
    padding-right: 10px;
}



.search-bar {
    justify-self: start;
    margin-left: 10px;
}

.bottom-header {
    display: grid;
    grid-template-columns: 1fr 8fr 2fr 2fr 2fr;
    padding-top: 10px;
    align-items: center;
    gap: 10px;
}


.new, .upload, .share {
    background-color: #4891CE;
    text-align: center;
    border-radius: 15px;
    padding: 5px 8px;
    color: white;
    font-weight: bold;
}

.main-content {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: #F5F5F5;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    padding: 30px 20px;
}

.your-projects {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 39px 3fr 3fr 3fr;
    gap: 20px;
    padding-right: 20px;
}

.grid-item {
    background-color: white;
    padding: 20px;
    border-left: solid goldenrod 5px;
    display: grid;
}

.card-icons-container {
    justify-self: end;
}

.card-icon {
    width: 30px;
}

.your-projects-title {
    grid-column: 1 / 3;;
}

.annoucements-box {
    background-color: white;
    padding: 20px;
}

.line {
    width: 95%;
    height: 1px;
    background-color: lightgray;

}

.trending-box {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    background-color: white;
    padding: 20px;
}

